<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="stylesheet" href="css/style.css"/>
  </head>
  <body>
    <header class="card-panel teal lighten-2 head">
      Login Screen
    </header>
  <div class="">

    <div class="">
      <div class="info">
          Please enter your login credentials below
      </div>
      <form id="login" class="form" action="/login" method="post" >
        <label for="username">Enter Username: </label>
        <input  type="text" id="login-username" name="username" value="">
        <label for="password">Enter Password: </label>
        <input type="password" class="form-control" id="login-password" name="password">
        <input class="waves-light btn teal" type="submit" value="Login">
      </form>
      <div class="error">
        <% if (error != "") { %>
          Error: <%= error %>
        <% } %>
      </div>
    </div>

    <div class="">
      <div class="info">
        To sign up, create a username and password below
      </div>
      <form id="signup" class="form" action="/signup" method="post" >
        <label for="username">Create Username: </label>
        <input  type="text" id="signup-username" name="username" value="">
        <label for="password">Create Password: </label>
        <input type="password" class="form-control" id="signup-password" name="password">
        <input class="waves-light btn teal" type="submit" value="Sign Up">
      </form>
      <div class="success">
          <% if (success != "") { %>
            Success: <%= success %>
          <% } %>
      </div>
    </div>

  </div>
  </body>
</html>
