.head {
    color: white;
    font-size: 24px;
}

.info {
	padding: 15px 15px;
}

.error {
	color: red;
	padding: 15px;
}

.success {
	color: green;
	padding: 15px;
}

.form {
	padding-left: 15px;
}

.video-container {
    display: inline-block;
    height: auto;
    text-align: center;
    border-radius: 25px;
}
